@use '../varaible/varaible' as *;

.headerContainer,
.right-list,
.left-list {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;

    .right-list {
        gap: 20px;
    }

    .left-list {
        gap: 20px;
    }
}

.headerContainer {
    width: 80%;
    margin: 10px auto;
}

.left-list {
    .hiddenElement {
        text-align: center;
        width: 60px;
        height: 30px;

        &:hover ul {
            display: block;
            color: forestgreen;
        }

        ul {
            display: none;
            box-shadow: 0px 0px 13px 2px rgba(176, 176, 176, 0.84);

            li {
                line-height: 25px;
            }

            .selected {
                margin-top: 5px;
                background-color: $fourth-color ;

                a:hover {
                    color: $primary-color;
                }
            }
        }
    }
}