@media (max-width:880px) {
    .headerContainer {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        gap: 60px;

    }
}

@media (max-width:7300px) {
    .headerContainer {
        gap: 20px;
        justify-content: center;
    }
}