@media (min-width:880px) {
    .headerContainer {
        width: 70%;
        margin: 10px auto;
    }

}

@media (max-width:800px) {
    .headerContainer {
        justify-content: center;
        align-content: center;
        padding: 5px;
        width: 100%;
        gap: 30px;

    }
}

// @media (max-width:730px) {
//     .headerContainer {
//         gap: 60px;
//         justify-content: center;
//         align-items: center;
//     }
// }