html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-color);
  color: var(--second-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
 
}
:root {
  --primary-color: #f5f5f5;
  --second-color: #3f3e3d;
  --third-color: #b33939;
  --fourth-color: #ff5252;
  --five-color: #e7e7e7;
}
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a:hover {
  color: var(--fourth-color);
}
input::placeholder {
  color: inherit;
  font: inherit;
}
ul {
  list-style: none;
}
.flex-col-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  gap: 20%;
  align-items: center;
}
.flex-gap {
  display: flex;
  gap: 2em;
}
.headerContainer {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 10px 0;
  font-size: 12px;
  text-wrap: nowrap;
 
}

.left ul .hiddenElement {
  text-align: center;
}
.left ul ul {
  display: none;
  position: absolute;
 z-index: 1 ;
}
.left ul .visible {
  width: 50px;
}
.left ul ul li {
  width: 50px;
  height: 20px;
}
.left ul ul {
  width: 50px;

}
.left ul ul .selected {
  color: var(--primary-color);
}
.left ul ul .selected {
  background-color: var(--third-color);
}
.left ul .hiddenElement:hover ul {
  display: block;
  

}
/* down nav bar */
.down-container {
  position: relative;
 
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 10px;
  vertical-align: middle;
  position: relative;
  z-index: -1;
}
.down-container .logo p {
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: 700;

  color: var(--second-color);
  position: relative;
}
.down-container .logo p::before {
  content: "";
  position: absolute;
  width: 94px;
  top: 40%;
  z-index: -1;
  height: 15px;
  background-color: #ff5252;
}
.down-container .navigation  nav ul li a{
  position: relative;
 
}
.down-container .navigation .item {
  position: absolute;
}
.down-container .navigation .up-item {
  font-size: 11px;
  background-color: var(--fourth-color);
  color: var(--primary-color);
  position: relative;
  top: -40px;
  left: 30px;
}
