html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-color);
  color: var(--second-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
:root {
  --primary-color: #f5f5f5;
  --second-color: #3f3e3d;
  --third-color: #b33939;
  --fourth-color: #ff5252;
  --five-color: #e7e7e7;
}
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a:hover {
  color: var(--fourth-color);
}
input::placeholder {
  color: inherit;
  font: inherit;
}
ul {
  list-style: none;
}
.flex-col-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.flex-row {
  display: flex;
  gap: 20%;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}
.flex-gap {
  display: flex;
  gap: 2em;
}
.headerContainer {
  margin: 0 auto;
  min-height: 300px;
  max-width: 800px;
  margin-top: 5px;
  font-size: 12px;
}

.left ul .hiddenElement {
  width: 40px;
  height: 20px;
  text-align: center;
}
.left ul ul {

  display: none;
}
.left-table thead {
  width: 50px;
  visibility: visible;
}
.left ul ul .selected a {
  color: var(--primary-color);
}
.left ul ul .selected {
  background-color: var(--third-color);
}
.left ul ul li {
  width: 50px;
  height: 20px;

}
.left ul ul {
  width: 50px;
  box-shadow: 0px 0px 13px 2px rgba(176, 176, 176, 0.84);
}
.left ul .hiddenElement:hover ul {
  display: block;
}
