ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3f3e3d;
}

a:hover {
  color: #ff5252;
}

body {
  background-color: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

@media (min-width: 880px) {
  .headerContainer {
    width: 70%;
    margin: 5px auto;
  }
}
@media (max-width: 880px) {
  .headerContainer {
    justify-content: center;
    align-content: center;
    margin: 5px 10px;
    width: 100%;
    gap: 30px;
  }
}
.headerContainer,
.right-list,
.left-list {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.headerContainer a,
.right-list a,
.left-list a {
  font-size: 12px;
}
.headerContainer .right-list,
.right-list .right-list,
.left-list .right-list {
  gap: 20px;
}
.headerContainer .left-list,
.right-list .left-list,
.left-list .left-list {
  gap: 20px;
}

.left-list .hiddenElement {
  cursor: pointer;
  text-align: center;
  width: 65px;
  height: 30px;
}
.left-list .hiddenElement:hover ul {
  display: block;
  color: forestgreen;
}
.left-list .hiddenElement ul {
  margin-top: 10px;
  cursor: auto;
  display: none;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 13px 2px rgba(176, 176, 176, 0.84);
}
.left-list .hiddenElement ul li {
  line-height: 25px;
}
.left-list .hiddenElement ul .selected {
  background-color: #ff5252;
}
.left-list .hiddenElement ul .selected a:hover {
  color: #f5f5f5;
}

.down-container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.down-container .logo {
  margin-right: 50px;
}
.down-container .logo p {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 20px;
  position: relative;
}
.down-container .logo p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 90%;
  height: 18px;
  background-color: #ff5252;
}
.down-container,
.down-container .nav-optionse {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
.down-container .new-item,
.down-container .nav-optionse .new-item {
  position: relative;
}
.down-container .new-item .up-item,
.down-container .nav-optionse .new-item .up-item {
  font-style: italic;
  position: absolute;
  font-size: 11px;
  background-color: #b33939;
  color: #f5f5f5;
  padding: 1px;
  top: -50%;
  right: -25px;
}
.down-container .navigation {
  width: 100%;
}
.down-container .navigation nav {
  display: flex;
  justify-content: space-between;
}
.down-container .navigation nav .left-nav-options {
  display: flex;
  gap: 20px;
  position: relative;
}
.down-container .navigation nav .left-nav-options .buy-items,
.down-container .navigation nav .left-nav-options .favorite-items {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  position: relative;
  top: -50%;
  left: -25%;
  font-size: 13px;
  background-color: #b33939;
  color: #f5f5f5;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}

.more-list {
  position: relative;
}
.more-list:hover {
  filter: invert(56%) sepia(81%) saturate(3149%) hue-rotate(327deg) brightness(100%) contrast(103%);
}
.more-list img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10%;
}
.more-list .icon {
  top: 20%;
}/*# sourceMappingURL=ecommersee.css.map */