@use '../../varaible/varaible' as *;

.down-container {
    width: 80%;
    margin: 0 auto;

    align-items: center;

    .logo {
        margin-right: 50px;
    }

    .logo p {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 20px;
        position: relative;

    }

    .logo p::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        width: 90%;
        height: 18px;
        background-color: $fourth-color;
    }


    &,
    .nav-optionse {
        margin-top: 10px;
        display: flex;
        gap: 30px;


        .new-item {
            position: relative;

            .up-item {
                font-style: italic;
                position: absolute;
                font-size: 11px;
                background-color: $third-color;
                color: $primary-color;
                padding: 1px;
                top: -50%;
                right: -25px;

            }

        }
    }

    .navigation {
        width: 100%;

        nav {
            display: flex;
            justify-content: space-between;

            .left-nav-options {
                display: flex;
                gap: 20px;
                position: relative;

                .buy-items,
                .favorite-items {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    text-align: center;
                    position: relative;
                    top: -50%;
                    left: -25%;
                    font-size: 13px;
                    // padding: 2px;

                    background-color: $third-color;
                    color: $primary-color;
                    border-radius: 50% 50% 50% 50%/ 50% 50% 50% 50%;
                }
            }
        }

    }
}